{% extends 'base.html' %}

{% block title %}
Додавання статі
{% endblock %}

{% block body %}
<div class="container mat-5">
    <h1>Додавання статі</h1>
    <form method="post" >
        <input type="text" name="title" id="title" class="form-control" placeholder="Введіть назву"><br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Введіть анонс"></textarea><br>
        <textarea name="text" id="text" class="form-control" placeholder="Введіть основний текст"></textarea><br>
        <input type="submit" class="btn btn-success" value="Відправити"><br>
    </form>
</div>
{% endblock %}
