{% extends 'base.html' %}

{% block title %}
Всі статі на сайті
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Всі статі на сайті</h1>

    {% if articles|length > 0 %}
        {% for el in articles  %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro  }}</p>
             <p>Дата: {{ el.date.date() }}</p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">Більше</a>
        </div>
    {% endfor %}
    {% else %}
    <p>В нас відсутні статі для вас</p>
    {% endif %}
</div>
{% endblock %}